{{- range .Values.clusterGroup.managedClusterGroups }}
{{- $group := . }}
---
apiVersion: policy.open-cluster-management.io/v1
kind: Policy
metadata:
  name: {{ $group.name }}-namespace-policy
  namespace: open-cluster-management
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/compare-options: IgnoreExtraneous
spec:
  remediationAction: enforce
  disabled: false
  policy-templates:
    - objectDefinition:
        apiVersion: policy.open-cluster-management.io/v1
        kind: ConfigurationPolicy
        metadata:
          name: {{ $group.name }}-namespace-config
        spec:
          remediationAction: enforce
          severity: medium
          namespaceSelector:
            include:
              - default
          object-templates:
            # Pattern namespace for ArgoCD applications
            - complianceType: musthave
              objectDefinition:
                kind: Namespace
                apiVersion: v1
                metadata:
                  name: {{ $.Values.global.pattern }}-{{ $group.name }}
            # Application namespaces from spokeNamespaces list
            # These are created by ACM policy before ArgoCD applications sync
            # to ensure policies and applications can deploy resources in them
{{- if $group.spokeNamespaces }}
{{- range $group.spokeNamespaces }}
            - complianceType: musthave
              objectDefinition:
                kind: Namespace
                apiVersion: v1
                metadata:
                  name: {{ . }}
                  labels:
                    name: {{ . }}
{{- end }}
{{- end }}
---
apiVersion: policy.open-cluster-management.io/v1
kind: PlacementBinding
metadata:
  name: {{ $group.name }}-namespace-placement-binding
  namespace: open-cluster-management
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
placementRef:
  name: {{ $group.name }}-namespace-placement
  kind: PlacementRule
  apiGroup: apps.open-cluster-management.io
subjects:
  - name: {{ $group.name }}-namespace-policy
    kind: Policy
    apiGroup: policy.open-cluster-management.io
---
apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: {{ $group.name }}-namespace-placement
  namespace: open-cluster-management
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  clusterConditions:
    - status: 'True'
      type: ManagedClusterConditionAvailable
  clusterSelector:
    matchExpressions:
    - key: local-cluster
      operator: NotIn
      values:
      - "true"
    matchLabels:
      clusterGroup: {{ $group.name }}
{{- end }}
