{{- if .Values.rhtas.zeroTrust.spire.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.rhtas.app.name }}
  namespace: {{ .Values.rhtas.namespace }}
  labels:
    {{- include "rhtas-operator.labels" . | nindent 4 }}
    app.kubernetes.io/component: signer
{{- end }}

