{{- if and .Values.rhtas.zeroTrust.spire.enabled .Values.rhtas.app.externalRegistry.enabled }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ .Values.rhtas.namespace }}-external-registry-credentials
  namespace: {{ .Values.rhtas.namespace }}
  labels:
    {{- include "rhtas-operator.labels" . | nindent 4 }}
    app.kubernetes.io/component: signer
  annotations:
    argocd.argoproj.io/sync-wave: "9"
spec:
  refreshInterval: 15s
  secretStoreRef:
    name: {{ .Values.global.secretStore.name }}
    kind: {{ .Values.global.secretStore.kind }}
  target:
    name: {{ .Values.rhtas.app.externalRegistry.credentialsSecretName }}
    template:
      type: kubernetes.io/dockerconfigjson
      engineVersion: v2
      data:
        .dockerconfigjson: |
          {
            "auths": {
              "{{ .Values.rhtas.app.externalRegistry.server }}": {
                "username": "{{ `{{ .username }}` }}",
                "password": "{{ `{{ .password }}` }}",
                "email": "{{ .Values.rhtas.app.externalRegistry.email }}",
                "auth": "{{ `{{ printf "%s:%s" .username .password | b64enc }}` }}"
              }
            }
          }
  dataFrom:
    - extract:
        key: {{ .Values.global.secretStore.backend }}/{{ .Values.rhtas.app.externalRegistry.vaultPath }}
{{- end }}

