{{- if and .Values.rhtas.zeroTrust.spire.enabled .Values.rhtas.app.quay.enabled }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ .Values.rhtas.namespace }}-quay-credentials
  namespace: {{ .Values.rhtas.namespace }}
  labels:
    {{- include "rhtas-operator.labels" . | nindent 4 }}
    app.kubernetes.io/component: signer
  annotations:
    argocd.argoproj.io/sync-wave: "9"
spec:
  refreshInterval: 15s
  secretStoreRef:
    name: {{ .Values.global.secretStore.name }}
    kind: {{ .Values.global.secretStore.kind }}
  target:
    name: {{ .Values.rhtas.app.quay.credentialsSecretName }}
    template:
      type: kubernetes.io/dockerconfigjson
      engineVersion: v2
      data:
        .dockerconfigjson: |
          {
            "auths": {
              "{{ tpl .Values.rhtas.app.quay.registryHost . }}": {
                "username": "{{ .Values.rhtas.app.quay.username }}",
                "password": "{{ `{{ index . "` }}{{ .Values.rhtas.app.quay.passwordKey }}{{ `" }}` }}",
                "email": "{{ .Values.rhtas.app.quay.email }}",
                "auth": "{{ `{{ printf "%s:%s" "` }}{{ .Values.rhtas.app.quay.username }}{{ `" (index . "` }}{{ .Values.rhtas.app.quay.passwordKey }}{{ `") | b64enc }}` }}"
              }
            }
          }
  dataFrom:
    - extract:
        key: {{ .Values.global.secretStore.backend }}/{{ .Values.rhtas.app.quay.vaultPath }}
{{- end }}

