apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: vault-spoke-jwt-config
  namespace: vault
  labels:
    {{- include "vault-spoke-jwt-config.labels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources: ["pods", "pods/exec"]
    verbs: ["get", "list", "create"]
  - apiGroups: [""]
    resources: ["pods/log"]
    verbs: ["get"]

